<Config DataSource="ora11ssz"
    Oracle="//10.160.27.4/ora11ssz"
    Oracle1="pirexe"
    UserID="beavis"
    Password="beavis7654"
    TimeOut="1000"
    TimerInterval="1000"
    RequestInterval="55000"
    ShowHidden ="false"
    SendToTGK ="false"
    AutoOpen="d"
    AutoOpen1="d;s;n;g"
>
</Config>



        